<body>
  <nav class="navbar navbar-custom navbar-default navbar-fixed-top" id="my-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Alex Lach</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#hat-pictures">About Me <span class="sr-only">(current)</span></a></li>
          <li><a href="#project-row">Projects</a></li>
          <li><a href="https://medium.com/@alexglach">Blog</a></li>
          <li><a href="#get-in-touch">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row" id="opener-row">
      <div class="col-xs-10 col-xs-offset-1" id="opener">
        <h1>Hi, I'm Alex Lach.</h1>
        <h2>I am a New Haven-based web developer. <br>I wear many hats.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 arrow-box">
        <div class="sub-arrow-box">
          <%= image_tag "arrow.png", id:"arrow" %>
          <%= image_tag "arrow.png", id:"arrow" %>
          <%= image_tag "arrow.png", id:"arrow" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="hat-pictures">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="hat-picture-container" id="hat1">
              <p>Work <br><br><small> I was a political consultant in Massachusetts for many years, providing data, analytics, strategy, and communication services for campaigns to do things like raise the minimum wage and improve the public transit and education systems. </small></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="hat-picture-container" id="hat2">
              <p> Learn <br><br><small>By teaching myself code and enrolling in Viking Code School, I've learned the skills to be a successful full-stack developer. I love to create, build, and tinker, and am always seeking opportunities to make the world better with code.</small></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="hat-picture-container" id="hat3">
              <p> Play <br><br><small>In my free time, I love to move. I try to lift heavy things at Crossfit New Haven, play soccer and basketball across the city, and hike in New Hampshire and Maine during the summer.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="project-row">
    </div>
    <div class="row" >
      <div class="col-xs-12" id="project-row-real">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <h2>Projects:</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1" id="project">
            <h3><b>KitHub</b></h3>
            <div class="row">
              <div class="col-sm-3" id="project-image-container">
                <%= image_tag "kithub.png", id:"project-picture" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p>My final project for Viking Code School, KitHub makes teachers happier. It is a platform for sharing and collaborating on lesson plans, a gradebook that tracks student scores and visualizing class data, and a scheduling tool for assigning lessons to different class periods. It consists of three separate AngularJS apps backed by a Ruby on Rails API.</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <a class="btn" href="https://github.com/alexglach/kithub" id="code-button">View Code</a>
                <br>
                <a class="btn" href="http://thekithub.herokuapp.com" id="demo-button">Live App</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1" id="project">
            <h3><b>Djello</b></h3>
            <div class="row">
              <div class="col-sm-3" id="project-image-container">
                <%= image_tag "djello.png", id:"project-picture" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p>Djello is a team-based project management application. Users can build task lists grouped into different board, can assign cards to team members, and can remove tasks once they're completed -- all without a full-page refresh. Djello features drag and drop functionality and in-place editing for all fields.</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <a class="btn" href="https://github.com/alexglach/project_djello" id="code-button">View Code</a>
                <br>
                <a class="btn" href="https://arcane-brook-90814.herokuapp.com/#/" id="demo-button">Live App</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1" id="project">
            <h3><b>App.ly</b></h3>
            <div class="row">
              <div class="col-sm-3" id="project-image-container">
                <%= image_tag "Apply.png", id:"project-picture" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p>A group project built during a 2-day hackathon, App.ly pulls data from the U.S. Department of Education to provide prospective college students and their families a platform to research schools and manage their application process.</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <a class="btn" href="https://github.com/alexglach/college_scorecard" id="code-button">View Code</a>
                <br>
                <a class="btn" href="http://applyapp.herokuapp.com" id="demo-button">Live App</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1" id="project">
            <h3><b>Fideligard</b></h3>
            <div class="row">
              <div class="col-sm-3" id="project-image-container">
                <%= image_tag "fideligard.png", id:"project-picture" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p> Fideligard allows user to buy and sell stocks across an entire year and tracks transactions, full portfolios, and profits/losses at any given date. Fideligard is a single page app built on AngularJS using multi-view states which incorporates stock data from the Yahoo Finance API.</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <a class="btn" href="https://github.com/alexglach/assignment_fideligard_spa" id="code-button">View Code</a>
                <br>
                <a class="btn" href="https://alexglach.github.io/assignment_fideligard_spa/" id="demo-button">Live App</a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-10 col-xs-offset-1" id="project">
            <h3><b>Boston Street Sweeping</b></h3>
            <div class="row">
              <div class="col-sm-3" id="project-image-container">
                <%# image_tag "StreetSweeping.png", id:"project-picture" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p>Built during a solo, one-day hackathon, the Boston Street Sweeping App pulls in data from the City of Boston and allows users to search street sweeping schedules and sign up to receive emails the night before their selected streets have street sweeping. Never get towed again!</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <a class="btn" href="https://github.com/alexglach/street_sweeping" id="code-button">View Code</a>
                <br>
                <a class="btn" href="https://street-sweeping-bos.herokuapp.com" id="demo-button">Live App</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1" id="project">
            <h3><b>Danebook</b></h3>
            <div class="row">
              <div class="col-sm-3" id="project-image-container">
                <%# image_tag "Danebook.png", id:"project-picture" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p>This Viking Code School project mimics the core functionality of Facebook and allows to users to "friend" other users, write posts, upload photos, and like and comment on others' content. </p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <a class="btn" href="https://github.com/alexglach/project_danebook" id="code-button">View Code</a>
                <br>
                <a class="btn" href="https://lach-danebook.herokuapp.com/" id="demo-button">Live App</a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" id="get-in-touch">
        <h2>Get In Touch:</h2>
        <div class="row" id="link-images">
          <div class="col-xs-2 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "https://github.com/alexglach" do %>
                  <%= image_tag "GitHub-Mark-120px-plus.png", class:"img-responsive" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "https://medium.com/@alexglach" do %>
                  <%= image_tag "medium-m-color-688.png", class:"img-responsive" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "https://twitter.com/alexglach" do %>
                  <%= image_tag "tw.png", class:"img-responsive" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "https://www.linkedin.com/in/alex-lach-28921236" do %>
                  <%= image_tag "linkedin-icon-white.png", class:"img-responsive" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "mailto:alexglach@gmail.com" do %>
                  <%= image_tag "email.png", class:"img-responsive" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>




<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
  $('#hat1').on('click', function() {
      $(this).toggleClass('show-description');
  });
  $('#hat2').on('click', function() {
      $(this).toggleClass('show-description');
  });
  $('#hat3').on('click', function() {
      $(this).toggleClass('show-description');
  });
  $(window).scroll(function() {

          if ($(this).scrollTop()>0)
           {
              $('.arrow-box').fadeOut();
           }
          else
           {
            $('.arrow-box').fadeIn();
           }
       });
  $("button.navbar-toggle").click(function() {
    $("body" ).toggleClass( "open");
  });
  $('.nav a').on('click', function(){
    $('.navbar-toggle').click() //bootstrap 3.x by Richard
  });
  </script>